# anting
Host amesserflow
  Hostname 10.91.233.141
  User appuser
  Port 22
  ProxyCommand ssh -qaY -p 58422 root@10.32.135.110 'nc -w 14400 %h %p'

Host adarth
  Hostname 10.91.233.137
  User appuser
  Port 22
  ProxyCommand ssh -qaY -p 58422 root@10.32.135.110 'nc -w 14400 %h %p'

Host amesser
  Hostname 10.91.233.148
  User appuser
  Port 22
  ProxyCommand ssh -qaY -p 58422 root@10.32.135.110 'nc -w 14400 %h %p'

Host acmdb
  Hostname 10.91.233.149
  User appuser
  Port 22
  ProxyCommand ssh -qaY -p 58422 root@10.32.135.110 'nc -w 14400 %h %p'

# ------------------------

# Host messer
#     HostName 10.32.141.50
#     User root
#     Port 58422

# my private server
Host linode
    HostName laisky.com
    User laisky
    Port 8866
    Compression yes

# docker test server
Host docker1
    HostName 10.47.12.81
    User devops
    Port 58422
    Compression yes

Host docker2
    HostName 10.47.12.82
    User devops
    Port 58422
    Compression yes

Host rocket
    HostName 10.47.12.117
    User devops
    Port 58422
    Compression yes

Host regis
    HostName 10.47.12.118
    User devops
    Port 58422
    Compression yes

Host builder
    HostName 10.47.12.119
    User devops
    Port 58422
    Compression yes

# jinqiao new server
Host messer
    HostName 10.32.135.13
    User devops
    Port 58422

Host messerflow
    HostName 10.32.135.23
    User devops
    Port 58422

Host cmdb
    HostName 10.32.135.33
    User devops
    Port 58422

Host darth
    HostName 10.32.135.43
    User devops
    Port 58422

Host devops
    HostName 10.32.189.146
    User devops
    Port 58422

Host jump
    HostName 10.32.135.110
    User root
    Port 58422
